@charset "UTF-8";
@font-face {
  font-family: 'proxima';
  src: url("../fonts/mark_simonson_-_proxima_nova_regular-webfont.woff2") format("woff2"), url("../fonts/mark_simonson_-_proxima_nova_regular-webfont.woff") format("woff"), url("../fonts/mark_simonson_-_proxima_nova_regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gilroy';
  src: url("../fonts/radomir_tinkov_-_gilroy-extrabold-webfont.woff2") format("woff2"), url("../fonts/radomir_tinkov_-_gilroy-extrabold-webfont.woff") format("woff"), url("../fonts/radomir_tinkov_-_gilroy-extrabold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'proxima'; }

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  height: 100%; }
  .wrapper {
    *zoom: 1; }
  .wrapper:before, .wrapper:after {
    content: "";
    display: table; }
  .wrapper:after {
    clear: both; }

.button {
  padding: 15px 20px;
  background: none;
  border: none;
  outline: none;
  border-radius: 4px;
  display: inline-block; }
  .button:hover {
    cursor: pointer; }
  .button_liteBlue {
    background: #32c9e4; }
    .button_liteBlue:hover {
      background: #5fd5ea; }
  .button_blue {
    background: #1e6dbb; }
    .button_blue:hover {
      background: #2e87de; }
  .button span {
    text-transform: uppercase;
    color: #fff;
    font-family: 'proxima';
    font-weight: bold;
    font-size: 12px; }

.site-header {
  width: 100%;
  z-index: 20; }
  .site-header {
    *zoom: 1; }
  .site-header:before, .site-header:after {
    content: "";
    display: table; }
  .site-header:after {
    clear: both; }
  .site-header--active {
    position: fixed;
    top: 0;
    background: #fff;
    height: 130px; }
    .site-header--active .main-header-logo {
      background: url("../img/logo.png") no-repeat; }
    .site-header--active .main-header-location .number {
      color: #bfbfbf; }
    .site-header--active .main-header-location .address {
      color: #a1a1a1; }
    .site-header--active .main-header-menu {
      position: relative;
      top: -34px;
      margin-top: 0; }
      .site-header--active .main-header-menu .list-item-link {
        color: #444444; }

.main-header {
  background: url("../img/first_screen.png") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 546px;
  position: relative;
  padding-bottom: 110px; }
  .main-header--active {
    margin-top: 125px;
    padding-bottom: 0; }
  .main-header:before {
    z-index: 1;
    position: absolute;
    content: '';
    opacity: .7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #32c9e4;
    background: -moz-linear-gradient(top, #32c9e4 0%, #1e6dbb 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #32c9e4 0%, #1e6dbb 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #32c9e4 0%, #1e6dbb 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32c9e4', endColorstr='#1e6dbb',GradientType=0 );
    /* IE6-9 */ }
  .main-header-logo {
    background: url("../img/logo_white.png") no-repeat;
    height: 59px;
    width: 168px;
    display: inline-block;
    float: left;
    margin-top: 28px; }
  .main-header-location {
    float: right;
    display: inline-block; }
    .main-header-location .number {
      font-family: 'gilroy';
      font-size: 24px;
      color: #fff;
      display: inline-block;
      padding-top: 42px;
      margin-right: 20px; }
    .main-header-location .address {
      color: #fff;
      font-size: 14px;
      font-family: 'gilroy';
      display: inline-block;
      max-width: 160px;
      vertical-align: top;
      margin-top: 36px;
      margin-right: 15px;
      position: relative;
      padding-left: 24px; }
      .main-header-location .address:before {
        position: absolute;
        left: 0;
        top: 3px;
        background: url("../img/marker.png") no-repeat;
        width: 18px;
        height: 28px;
        content: ''; }
    .main-header-location .buttons {
      vertical-align: top;
      margin-top: 28px;
      display: inline-block; }
      .main-header-location .buttons .button:last-child {
        margin-left: 12px; }
  .main-header-menu {
    margin-top: 20px; }
    .main-header-menu .list {
      margin: 0;
      padding: 0; }
      .main-header-menu .list-item {
        list-style: none;
        display: inline-block;
        margin-right: 31px; }
        .main-header-menu .list-item:last-child {
          margin-right: 0; }
        .main-header-menu .list-item-link {
          text-decoration: none;
          color: #fff;
          font-family: 'proxima';
          font-size: 14px; }
          .main-header-menu .list-item-link:hover {
            text-decoration: underline; }
  .main-header-title {
    font-family: 'gilroy';
    font-size: 90px;
    color: #fff;
    line-height: 85px;
    margin-bottom: 40px; }
  .main-header-content {
    color: #fff;
    max-width: 721px;
    font-family: 'proxima';
    margin-bottom: 40px; }
  .main-header-button {
    background: #fff;
    width: 260px;
    text-align: center;
    padding: 18px 0;
    border: none;
    outline: none;
    border-radius: 4px; }
    .main-header-button:hover {
      cursor: pointer;
      background: #e6e6e6; }
    .main-header-button span {
      text-transform: uppercase;
      color: #4b7b9a;
      font-size: 14px;
      font-family: 'proxima';
      font-weight: bold; }
  .main-header .quote {
    position: absolute;
    bottom: -70px;
    right: 0;
    max-width: 245px; }
    .main-header .quote-content {
      color: #fff;
      font-family: 'proxima';
      font-size: 12px; }
    .main-header .quote-profile {
      margin-top: 22px; }
      .main-header .quote-profile-img {
        width: 42px;
        height: 43px;
        background: url("../img/first_screen_man.png") no-repeat;
        display: inline-block;
        float: left;
        margin-right: 10px; }
      .main-header .quote-profile-info .name {
        color: #fff;
        font-size: 12px;
        font-family: 'proxima';
        font-weight: bold;
        margin-bottom: 5px; }
      .main-header .quote-profile-info .status {
        color: #fff;
        font-family: 'proxima';
        font-size: 12px; }

.mrt {
  position: relative;
  min-width: 600px; }
  .mrt-wrapper {
    padding: 95px 0; }
  .mrt:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url("../img/about_photos.png") no-repeat;
    width: 489px;
    height: 527px; }
  .mrt-title {
    font-family: 'gilroy';
    font-size: 90px;
    line-height: 80px;
    color: #201f26;
    margin-bottom: 40px; }
  .mrt-description {
    color: #6a6680;
    max-width: 721px;
    font-size: 16px;
    margin-bottom: 20px; }
  .mrt-info {
    color: #000;
    font-size: 16px;
    margin-bottom: 30px; }
    .mrt-info img {
      vertical-align: middle;
      padding-right: 15px; }
  .mrt-item {
    max-width: 260px;
    display: inline-block;
    position: relative;
    margin-top: 30px;
    margin-right: 15px; }
    .mrt-item:last-child {
      margin-right: 0; }
    .mrt-item-img {
      margin-bottom: 30px; }
    .mrt-item-title {
      font-family: 'gilroy';
      font-size: 25px;
      margin-bottom: 25px; }
    .mrt-item-description {
      font-size: 16px;
      color: #6a6680; }

.why-dont {
  background: url("../img/third_screen.png") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 435px;
  width: 100%;
  padding-bottom: 47px; }
  .why-dont .title {
    padding-top: 95px;
    color: #fff;
    font-size: 90px;
    max-width: 823px;
    margin-bottom: 60px;
    line-height: 85px;
    font-family: 'gilroy'; }
  .why-dont .description {
    color: #fff;
    font-size: 16px; }
  .why-dont-advantages {
    margin-top: 50px; }
    .why-dont-advantages .name {
      color: #fff;
      font-size: 24px;
      margin-bottom: 30px; }
    .why-dont-advantages .left {
      max-width: 538px;
      display: inline-block;
      vertical-align: top; }
      .why-dont-advantages .left .circle {
        background: #ffc000; }
    .why-dont-advantages .right {
      display: inline-block;
      vertical-align: top;
      max-width: 520px; }
      .why-dont-advantages .right .circle {
        background: #e52020; }
  .why-dont--mrt {
    position: relative;
    top: -1px; }
    .why-dont--mrt .title {
      padding-top: 50px;
      margin-bottom: 35px; }
  .why-dont-item {
    background: #fff;
    display: inline-block;
    padding: 16px 0 16px 35px;
    width: 485px;
    border-radius: 4px;
    margin-right: 18px;
    vertical-align: top;
    margin-bottom: 10px; }
    .why-dont-item .circle {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #1e6dbb;
      display: inline-block;
      float: left;
      margin-top: 5px; }
    .why-dont-item .description {
      vertical-align: top;
      padding-left: 17px;
      font-size: 16px;
      color: #000; }

.about-med {
  background: url("../img/photo_1.png") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  top: -1px;
  height: 700px; }
  .about-med-image_1 {
    background: url("../img/photo_1.png") no-repeat;
    background-size: cover;
    background-position: center; }
  .about-med-image_2 {
    background: url("../img/photo_2.png") no-repeat;
    background-size: cover;
    background-position: center; }
  .about-med-image_3 {
    background: url("../img/photo_3.png") no-repeat;
    background-size: cover;
    background-position: center; }
  .about-med-image_4 {
    background: url("../img/photo_4.png") no-repeat;
    background-size: cover;
    background-position: center; }
  .about-med-image_5 {
    background: url("../img/photo_5.png") no-repeat;
    background-size: cover;
    background-position: center; }
  .about-med-image_6 {
    background: url("../img/photo_6.png") no-repeat;
    background-size: cover;
    background-position: center; }
  .about-med-image_7 {
    background: url("../img/photo_7.png") no-repeat;
    background-size: cover;
    background-position: center; }
  .about-med:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    background: #000;
    opacity: 0.4;
    height: 100%; }
  .about-med-title {
    padding-top: 100px;
    color: #fff;
    font-size: 90px;
    font-family: 'gilroy'; }
  .about-med-description {
    max-width: 720px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px; }
  .about-med-content img {
    display: inline-block;
    vertical-align: top;
    float: left;
    margin-right: 20px; }
  .about-med-content .content {
    display: inline-block; }
    .about-med-content .content .title {
      color: #fff;
      font-size: 25px;
      font-family: 'gilroy';
      margin-bottom: 5px; }
    .about-med-content .content .description {
      color: #fff;
      font-size: 16px;
      max-width: 608px; }
  .about-med-items {
    position: absolute;
    bottom: 0;
    left: 0; }
    .about-med-items .content {
      color: #fff;
      font-size: 16px; }
    .about-med-items .item {
      display: inline-block;
      margin-right: 23px;
      position: relative;
      top: 35px;
      background: transparent; }
      .about-med-items .item--active img {
        border: 3px solid #1e6dbb;
        position: relative;
        top: 3px; }
      .about-med-items .item--active.item:before {
        opacity: 0; }
      .about-med-items .item:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 64px;
        content: "";
        background: #000;
        opacity: 0.7;
        transition: all 0.5s ease; }
      .about-med-items .item img {
        width: 115px;
        height: 64px; }
      .about-med-items .item:hover {
        cursor: pointer; }
        .about-med-items .item:hover:before {
          opacity: 0; }

.machine {
  padding-top: 155px;
  padding-bottom: 40px; }
  .machine-content {
    float: left;
    margin-right: 100px; }
    .machine-content .title {
      color: #201f26;
      font-size: 90px;
      font-family: 'gilroy';
      margin-bottom: 22px; }
    .machine-content .description {
      font-size: 16px;
      color: #6a6680;
      max-width: 717px; }
    .machine-content .image {
      margin-top: 55px;
      background: url("../img/equipment_photo_1.png") no-repeat;
      width: 720px;
      height: 340px; }
  .machine-about {
    max-width: 277px;
    display: inline-block; }
    .machine-about .name {
      color: #201f26;
      font-size: 24px;
      font-family: 'gilroy';
      margin-bottom: 20px; }
    .machine-about .brend {
      margin-bottom: 50px; }
      .machine-about .brend img {
        margin-bottom: 30px; }
    .machine-about .photos .item {
      display: inline-block;
      height: 98px;
      box-sizing: border-box;
      -moz-boz-sizing: border-box;
      margin-right: 5px;
      margin-bottom: 8px;
      width: 131px; }
      .machine-about .photos .item {
        *zoom: 1; }
      .machine-about .photos .item:before, .machine-about .photos .item:after {
        content: "";
        display: table; }
      .machine-about .photos .item:after {
        clear: both; }
      .machine-about .photos .item--active {
        border: 3px solid #1e6dbb; }
      .machine-about .photos .item img {
        display: inline-block;
        height: 90px;
        width: 125px;
        float: left; }

.doctors {
  background: #f2f3f7;
  padding: 90px 0; }
  .doctors-title {
    color: #201f26;
    font-size: 90px;
    font-family: 'gilroy';
    margin-bottom: 22px; }
  .doctors-description {
    font-size: 16px;
    color: #6a6680; }
  .doctors-items {
    margin-top: 45px; }
    .doctors-items .item {
      display: inline-block;
      margin-right: 2px;
      max-width: 177px;
      text-align: left;
      vertical-align: top; }
    .doctors-items .name {
      margin-top: 27px;
      font-size: 16px;
      color: #000;
      max-width: 155px; }
    .doctors-items .who-is {
      font-size: 12px;
      color: #6a6680;
      line-height: 18px;
      margin-top: 10px; }

.cost-wrapper {
  position: relative; }

.cost-title {
  color: #201f26;
  font-size: 90px;
  font-family: 'gilroy';
  margin-bottom: 22px;
  padding-top: 90px; }

.cost-description {
  font-size: 16px;
  color: #6a6680;
  max-width: 721px;
  margin-bottom: 60px; }

.cost-items {
  display: inline-block;
  position: relative;
  margin-right: 37px; }
  .cost-items .item {
    width: 721px;
    background: #f7f7f7;
    border-radius: 12px;
    position: relative;
    margin-bottom: 10px; }
    .cost-items .item:after {
      content: '';
      position: absolute;
      bottom: -20px;
      height: 20px;
      left: 0;
      width: 100%;
      background: url("../img/prices_tab_shadow.png") no-repeat;
      opacity: 0.3; }
    .cost-items .item-description {
      display: inline-block;
      position: relative;
      width: 550px;
      padding: 26px 0 26px 30px;
      font-size: 16px;
      color: #000;
      border-right: 1px solid #e6e6e6;
      vertical-align: middle; }
    .cost-items .item-prize {
      display: inline-block;
      font-size: 24px;
      font-family: 'gilroy';
      position: relative;
      width: 100px;
      text-align: right;
      vertical-align: middle; }
      .cost-items .item-prize:before {
        content: 'руб.';
        position: absolute;
        top: 3px;
        right: -26px;
        font-family: 'proxima';
        font-size: 11px; }

.cost-popup {
  padding: 30px;
  display: inline-block;
  width: 250px;
  overflow: hidden;
  vertical-align: top;
  top: 0;
  right: 0;
  box-shadow: 1px 1px 13px -4px #000; }
  .cost-popup .title {
    font-family: 'gilroy';
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center; }
  .cost-popup input {
    border: none;
    border-radius: 4px;
    background: #f2f2f2;
    color: #201f26;
    font-family: 'proxima';
    padding-left: 20px;
    width: 230px;
    margin-bottom: 10px;
    display: block;
    outline: none;
    height: 39px; }
  .cost-popup button {
    border: none;
    outline: none;
    background: #1e6dbb;
    display: block;
    width: 100%;
    height: 39px; }
    .cost-popup button span {
      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
      font-family: 'proxima';
      font-weight: bold;
      display: inline-block;
      line-height: 39px; }
    .cost-popup button:hover {
      cursor: pointer; }

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template,
[hidden] {
  display: none; }

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

optgroup {
  font-weight: bold; }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }
